{
  "comments": false,
  "presets": [
    "@babel/preset-env"

  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-transform-react-jsx"
  ],
  "ignore": [
    "./src/utils/polyfill.js"
  ]
}
